@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-theme: #20D3C2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0E153D;
    --color-dark: #080C24;
    --color-white: #ffffff;
    --color-gray-0: #F6F6F6;
    --color-gray-1: #EEEEEE;
    --color-gray-2: #E3E3E3;
    --color-gray-4: #CCCCCC;
    --color-gray-5: #AAAAAA;
    --color-product-instock: #82D8C6;
    --color-product-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-24: 2.00rem;
    --font-size-36: 3.00rem;
    --font-size-60: 5.00rem;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;

}   

/* General */
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    Color: var(--color-theme-dark);
}

    /*header-top */

.header-top {
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;
}

    .header-top > .container {
        height: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

        .header-top .header-top-buttons {
            display: flex;
        }

            .header-top .header-top-buttons .dropdown-theme button {
                color: var(--color-white);
                background-color: var(--color-theme);
                border: 0;
                width: 5rem;
            }

            .header-top .header-top-buttons .dropdown-theme button:hover {
                color: var(--color-theme-dark);
            }

            .header-top .header-top-buttons .dropdown-theme .dropdown-menu {
                background-color: var(--color-theme);
                border: 0;
            }

            .header-top .dropdown-theme .dropdown-menu .dropdown-item {
                color: var(--color-white);
            }

            .header-top .dropdown-theme .dropdown-menu .dropdown-item:hover {
                color: var(--color-theme-dark);
            }

    .header-top .links {
        display: flex;
        justify-content: space-between;
        width: 25rem;
    }

        .header-top .links a {
            text-decoration: none;
            color: var(--color-white);
        }

        .header-top .links a:hover {
            cursor: pointer;
            color: var(--color-theme-dark)
        }

            .header-top .links .link-text {
                width: 20rem;
                justify-content: space-between;
            }

            .header-top .links .link-text {
                display:flex;
                justify-content: space-evenly;
                width: 20rem;
            }

            .header-top .links .link-icons {
                display: flex;
                justify-content: space-between;
                width: 9rem;
            }


    .header-top .links .link-icons {
        display: none;
    }
    
    .header-top .links .link-text {
        display: none;
    }

/* top-menu- middle */

.header-middle {
    padding: 2rem 0;
}

    .header-middle > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0;
    }

    .header-middle .kenkata-logo {
        flex: 1;
    }

    .header-middle .search-bar {
        display: flex;
        justify-content: center;
        flex: 2;
    }

    .header-middle .header-middle-icons {
        display: flex;
        justify-content: end;
        flex: 1;
        padding: 0;
    }

        .header-middle .header-middle-icons a {
            color: var(--color-theme-dark);
            text-decoration: 0;
            margin: 0 0.4rem;
        }

        .header-middle .header-middle-icons a:hover {
            color: var(--color-theme);
        }
        
        .header-middle .header-middle-icons i {
            font-size: 1.2em;
        }








@media (min-width: 768px) {

    .header-top .links .link-text {
        display:flex;
        justify-content: space-evenly;
        width: 20rem;
    }

}

@media (min-width: 992px) {
    .header-top  .container {
        justify-content: space-between;
        padding: 0;
    }

    .header-top .links .link-icons {
        display: flex;
        justify-content: space-between;
        width: 9rem;
    }
}