@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-theme: #20D3C2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0E153D;
    --color-dark: #080C24;
    --color-white: #ffffff;
    --color-gray-0: #F6F6F6;
    --color-gray-1: #EEEEEE;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #CCCCCC;
    --color-gray-4: #AAAAAA;
    --color-product-instock: #82D8C6;
    --color-product-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-24: 2.00rem;
    --font-size-36: 3.00rem;
    --font-size-60: 5.00rem;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;

}   

/* General */
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    Color: var(--color-theme-dark);
}

.button-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding: 0.3rem 1.4rem 0.3rem 1.4rem;
}

    .button-theme:hover {
        background-color: var(--color-theme-dark);
        color: var(--color-white);
    }

.button-theme-light {
    color: var(--color-theme);
    background-color: var(--color-white);
    border: none;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-medium);
    padding: 0.8rem 1.5rem;
}

    .button-theme-light:hover {
        color: var(--color-white);
        background-color: var(--color-theme-dark);
    }

    /*header-top */

.header-top {
    background-color: var(--color-theme);
    color: var(--color-white);
    padding: 0.45rem 0;
    width: 100%;
}

    .header-top > .container {
        height: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .header-top .header-top-buttons {
            display: flex;
        }

            .header-top .header-top-buttons .dropdown-theme button {
                color: var(--color-white);
                background-color: var(--color-theme);
                border: none;
                width: 5rem;
            }

            .header-top .header-top-buttons .dropdown-theme button:hover {
                color: var(--color-theme-dark);
            }

            .header-top .header-top-buttons .dropdown-theme .dropdown-menu {
                background-color: var(--color-theme);
                border: 0;
            }

            .header-top .dropdown-theme .dropdown-menu .dropdown-item {
                color: var(--color-white);
            }

            .header-top .dropdown-theme .dropdown-menu .dropdown-item:hover {
                color: var(--color-theme-dark);
            }
    
    .header-top .links a {
        color: var(--color-white);
        text-decoration: none;
        margin: 0 1.2rem;
    }
    
    .header-top .links a:hover {
        color: var(--color-theme-dark);
    }

    .header-top .social-media {
        margin-left: 1rem;
    }

        .header-top .social-media a {
            margin: 0 0.2rem;
        }

        .header-top .social-media a:last-child {
            padding-right: 0;
        }

    .header-top .website-links {
        display: none;
    }

    
    .header-top .social-media {
        display: none;
    }

/* header-middle */

.header-middle {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

    .header-middle > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-left: 0;
    }

    .header-middle .kenkata-logo {
        flex: 2;
    }

    .header-middle .search-bar {
        flex: 4;
    }

    .header-middle .header-middle-icons {
        display: flex;
        justify-content: end;
        flex: 3;
    }

        .header-middle .header-middle-icons .user-icons {
            color: var(--color-theme-dark);
            text-decoration: none;
            margin: 0 0.8rem;
        }

        .header-middle .header-middle-icons .user-icons:hover {
            color: var(--color-theme);
        }

        .header-middle .header-middle-icons .user-icons:first-child span {
                display: none;
            }

        .header-middle .header-middle-icons .user-icons:first-child i {
            margin: 0 0.3rem 0 0rem;
            }

        .header-middle .header-middle-icons .user-icons:nth-child(2) {
            margin: 0 0.5rem 0 1.5rem;
            display: none;
        }

        .header-middle .header-middle-icons .user-icons:nth-child(3) {
            display: none;
        }


        .header-middle .header-middle-icons .user-icons:last-child {
            margin: 0 0 0 0.5rem;
        }

        .header-middle .header-middle-icons .user-icons:last-child span {
            display: none;
        }
        
        .header-middle .header-middle-icons .user-icons i {
            font-size: 1.2em;
        }

    .header-middle .search-bar {
        display: none;
    }

    /* Header-bottom */

.header-bottom {
    border-top: 1px solid var(--color-gray-2);
    border-bottom: 1px solid var(--color-gray-2);
}
    .header-bottom > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
    }

        .header-bottom .dropdown-browse {

        }

            .header-bottom .dropdown-browse button {
                color: var(--color-white);
                background-color: var(--color-theme);
                width: 18rem;
                border: none;
                font-size: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.7rem 1rem;
                margin-left: 0;
            }

            .header-bottom .dropdown-browse button:hover {
                color: var(--color-white);
                background-color: var(--color-theme-dark);
            }

            .header-bottom .dropdown-browse button span {
                display: flex;
                align-items: center;
            }

            .header-bottom .dropdown-browse button > span > i {
                font-size: 1.2em;
                padding: 0 1.2rem 0 0;
            }

            .header-bottom .dropdown-browse .browse-menu {
                width: 18rem;
                background-color: var(--color-theme);
            }
            
                .header-bottom .dropdown-browse .browse-menu .dropdown-item {
                    color: var(--color-white);
                }

                .header-bottom .dropdown-browse .browse-menu .dropdown-item:hover {
                    background-color: var(--color-theme);
                    color: var(--color-theme-dark);
                }

    .header-bottom .special-offer {
        display: flex;
        justify-content: end;
        align-items: center;
        display: none;
    }

    /* showcase section */

.showcase {
    background-color: var(--color-gray-1);
}

    
    .showcase > .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .showcase .showcase-body h1 {
            font-size: var(--font-size-36);
            font-weight: var(--font-weight-regular);
            font-family: var(--font-play);
            text-align: center;
        }

        .showcase .showcase-body span {
            display: block;
            color: var(--color-theme);
            font-size: var(--font-size-36);
            font-weight: var(--font-weight-bold);
            font-family: var(--font-play);
            margin-bottom: 2rem;
            text-align: center;
        }

        .showcase .showcase-body p {
            font-size: 1em;
            margin-bottom: 3rem;
            display: none;
        }

        .showcase .showcase-image{
            display: none;
        }







@media (min-width: 576px) {

    .header-top .social-media {
        display: inline;
    }

    .header-bottom .special-offer {
        display: flex;
        justify-content: end;
    }

    .header-middle .header-middle-icons .user-icons:first-child span {
        display: inline;
    }

    .header-middle .header-middle-icons .user-icons:last-child span {
        display: inline;
    }

    .showcase .showcase-body p {
        display: block;
    }
}    


@media (min-width: 768px) {

    .header-middle .header-middle-icons .user-icons:nth-child(2) {
        display: inline;
    }

    .header-middle .header-middle-icons .user-icons:nth-child(3) {
        display: inline;
    }

    .header-middle .header-middle-icons .user-icons:last-child span {
        display: inline;
    }

    .header-middle .header-middle-icons .user-icons:first-child span {
        display: inline;
    }

    .showcase .showcase-body h1 {
        font-size: var(--font-size-60);
    }

    .showcase .showcase-body span {
        font-size: var(--font-size-60);

    }
}

@media (min-width: 992px) {

    .header-top > .container {
        justify-content: space-between;
    }

    .header-top .website-links {
        display: inline;
    }
}

@media (min-width: 1200px) {

    .header-middle .search-bar {
        display: inline;
    }

    .showcase > .container {
        justify-content: space-between;
    }  

    .showcase .showcase-image {
        display: block;
    }
}


@media (max-width: 575px) {
    .header-middle .header-middle-icons .user-icons:last-child{
        font-size: var(--font-size-14);
    }

    .header-middle .header-middle-icons .user-icons:first-child {
        font-size: var(--font-size-14);
    }
}

@media (max-width: 768px) {
    .header-middle .header-middle-icons {
        padding-right: 3rem;
    }

    .header-middle .header-middle-icons .user-icons:first-child i {
        margin: 0 1.3rem 0 0;
        }
}